@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  background-color: #000;
  color: #fff;
  font-family: Helvetica;
}
a {
  transition: 100ms;
}
a:hover {
  text-decoration: underline;
  text-underline-offset: 1rem;
}
